@import "foundation_and_overrides";
$light-blue: rgba(222, 240, 252, 0.3);
$opaque-light-blue: rgba(222, 240, 252, 0.7);
$purple: rgba(216, 214, 254, 0.3);
$blue: #66c0f1;

body {
  background-attachment: fixed;
  background-image: url("/bubble_tea_background.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 800px 576px;
}

.list {
  margin-top: 20px;
}

.add-shop {
  padding-right: 6px;
}

.form-header {
  padding: 0;
}

.errors h2 {
  font-size: 16px;
  font-weight: bold;
}

.errors li {
  font-size: 14px;
}

label {
  display: inline;
}

.pass-length {
  font-size: 0.875rem;
}

.links {
  padding-top: 10px;
}

.field_with_errors {
  display: inline;
}

.shop-description {
  padding-bottom: 10px;
}

.flash {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

.edit-shop {
  padding-top: 17px;
}

.new-shop {
  margin-bottom: 0;
}

.delete-button {
  width: 116px;
  display: inline-block;
}

.delete-review-button {
  width: 128px;
}

.profile-photo {
  padding-bottom: 10px;
  padding-right: 0;
  width: 60px;
}

.profile-photo-upload {
  display: inline;
}

.field-search {
  display: inline-block;
  margin-bottom: 0;
}

.button-search {
  display: inline;
  margin-bottom: 0;
  margin-top: 20px;
}

.search-button {
  margin-bottom: 2px;
}

.admin-only {
  display: inline-block;
}

.edit-shop-button {
  display: inline-block;
}

.edit-delete-button {
  display: inline-block;
}

[type='text'],
[type='search'] {
  margin-top: 1rem;
}

.top-bar-right {
  margin-top: 0.5rem;
}

.callout.primary {
  background-color: $light-blue;
}

.callout.secondary,
.top-bar {
  background-color: $purple;
}

.button {
  background-color: $blue;
}

.upvote-button {
  margin-bottom: 0;
}

.upvote-button,
.downvote-button {
  font-weight: bold;
  font-size: 30px;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.upvote-button:focus,
.downvote-button:focus {
  outline: 0;
}

.main-info {
  background-color: $opaque-light-blue;
}
